<body>
    <main>
        <section class="container about">
            <h1>Sobre a IB Story</h1>
            <p>Bem-vindo à IB Story, sua loja de roupas femininas onde a moda encontra a elegância.</p>
            <img src="/img/B1.png" alt="" class="img-fluid">
            <p>Nós na IB Story estamos comprometidos em oferecer a você as últimas tendências da moda feminina, desde roupas casuais até peças de alta qualidade para ocasiões especiais.</p>
            <p>Nossa missão é ajudar você a expressar sua individualidade e estilo pessoal através de nossas coleções cuidadosamente selecionadas.</p>
            <p>Descubra a beleza da moda na IB Story.</p>
        </section>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="testimonial">
                        <p>"Eu amo as roupas da IB Story! Sempre encontro algo único e elegante aqui."</p>
                        <p>- Maria, Cliente Satisfeita</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="testimonial">
                        <p>"A qualidade das roupas é incrível! Recomendo a IB Story para todas as minhas amigas."</p>
                        <p>- Ana, Cliente Fiel</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <a href="/produtos" class="btn btn-primary btn-lg">Veja nossos produtos</a>
        </div>
        <br><br><br><br>
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
